@font-face {
    font-family: custom;
    src: url(https://scuffedclient.com/fonts/devCss.ttf)
}

body, html{
    font-family: custom;
    display: grid;
    place-items: center;
    user-select: none;
}

#e {
    color: white;
    font-size: 800px;
    margin-top: 1rem;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color:#fff;
}
